# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
*.suo
*.user
*.userosscache

# Visual Studio Code files
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# SQLite Databases
*.db
*.db-shm
*.db-wal